@use '@/style/variables.scss' as *;
@use  '@/style/mixins.scss';
.container{
@include mixins.center();
    padding:$padding-sm;
    &__heading{
         font-size: $font-md;
        text-transform: capitalize;
        padding:$padding-sm;
    }

}
.container-search{
    display: flex;
    overflow:auto;
    gap:$gap-md;
    width:100%;
    
}
.movie{
    @include mixins.center();
    &__images{
        border-radius: $border-radius-xl;
    }
    &__title{
    
        font-size:$font-lg;
        color:var(--color-orange);
    }
    &__original-title{
    
        font-size:$font-md;
        color:var(--color-violet);
        margin:$margin-sm;
    }
    &__searching{
        
        color:var(--color-red);
        font-size: $font-md;
        text-transform: capitalize;
       
    }

}
.loading{
 @include mixins.center;
    color:var(--color-pink);
    font-size: $font-md;
}
