//Color
:root{
--color-black:black:
--color-white:white;
--color-red:red;
--color-yellow:rgb(238, 205, 17);
--color-dark-pink:rgb(88, 5, 47);
--color-light-greenish:rgb(150, 233, 16);
--color-dark-brown:rgb(54, 28, 4);
--color-orange:rgb(175, 82, 20);
--color-dark-green:rgb(22, 116, 22);
--color-green:green;
--color-light-white:rgb(247, 246, 243);
--color-white:white;
--color-violet:rgb(68, 18, 148);
--color-light-blue:#01B4E4;
--color-blackborder-color:rgba(255, 255, 255, 0.2);
--color-lightseagreen:lightseagreen;
--color-light-gray: rgb(177, 161, 161);
--color-pink:rgb(131, 10, 90);
--color-blue:rgb(3,37,67);
--color-dark-violet:rgb(65, 9, 114);
}

//margin
$margin-sm:1.1rem;
$margin-md:2.3rem;
$margin-lg:2.4rem;
$margin:20px;

//padding
$padding-sm:1.1rem;
$padding-md:2.3rem;
$padding-lg:4.5rem;
$padding:16px;
//font-size
$font-sm:1.2rem;
$font-md:1.5rem;
$font-lg:1.9rem;
$font-xl:3.0rem;

//border-radius
$border-radius-sm:10px;
$border-radius-md:20px;
$border-radius-lg:50px;
$border-radius-xl:100px;
 

//height & weight
$height:250px;
$max-width:100%;
$max-height:100%;
$width:20vw;
$popup-width:1300px;
$breakpoints-small-screen-sm:310px;
$breakpoints-small-screen:420px;
$breakpoints-medium-screen:767px;
$breakpoints-desktop-sm:992px;
$breakpoints-desktop-md:1100px;
$breakpoints-desktop-lg:1400px;

// Gap size
$gap-sm:10px;
$gap-md:20px;
$gap-lg:40px;

// z-index
$z-index-sm:5;
$z-index-md:10;
$z-index-lg:20;





