@use '@/style/variables.scss' as *;
@use  '@/style/mixins.scss';
.container{    
    &__heading{
         font-size: $font-md;
        text-transform: capitalize;
    }
    &__input{
        padding:$padding-sm;
        border-radius: $border-radius-md;
        background-color: var(--color-white);
        font-size: $font-sm;
        color:var(--color-blue);
        &::placeholder{
            font-size: $font-sm;
            color: var(--color-light-blue);   
        }
    }
    &__button{
        padding:$padding-sm ;
        margin:-5.3rem;
        border-radius:$border-radius-xl;
        font-size: $font-sm;
        color:var(--color-white);
        background-color: var(--color-light-blue);
        border: 1px solid var(--color-blue);
        &:hover{
            color:var(--color-blue);
        }
    }
}
.search{
    font-size: $font-sm;
}
